extends layout
block content
    // ================Breadcrumb Area =================
    section.breadcrumb_area
      .overlay.bg-parallax(data-stellar-ratio='0.8', data-stellar-vertical-offset='0', data-background='')
      .container
        .page-cover.text-center
          h2.page-cover-tittle About Us
          ol.breadcrumb
            li
              a(href='index.html') Home
            li.active About
    // ================Breadcrumb Area =================
    // ================ About History Area  =================
    section.about_history_area.section_gap
      .container
        .row
          .col-md-6.d_flex.align-items-center
            .about_content
              h2.title.title_color
                | About Us 
                br
                | Our History
                br
                | Mission & Vision
              p
                | inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.
              a.button_hover.theme_btn_two(href='#') Request Custom Price
          .col-md-6
            img.img-fluid(src='image/about_bg.jpg', alt='img')
    // ================ About History Area  =================
    // ================ Facilities Area  =================
    section.facilities_area.section_gap
      .overlay.bg-parallax(data-stellar-ratio='0.8', data-stellar-vertical-offset='0', data-background='')
      .container
        .section_title.text-center
          h2.title_w Royal Facilities
          p Who are in extremely love with eco friendly system.
        .row.mb_30
          .col-lg-4.col-md-6
            .facilities_item
              h4.sec_h4
                i.lnr.lnr-dinner
                | Restaurant
              p
                | Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          .col-lg-4.col-md-6
            .facilities_item
              h4.sec_h4
                i.lnr.lnr-bicycle
                | Sports CLub
              p
                | Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          .col-lg-4.col-md-6
            .facilities_item
              h4.sec_h4
                i.lnr.lnr-shirt
                | Swimming Pool
              p
                | Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          .col-lg-4.col-md-6
            .facilities_item
              h4.sec_h4
                i.lnr.lnr-car
                | Rent a Car
              p
                | Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          .col-lg-4.col-md-6
            .facilities_item
              h4.sec_h4
                i.lnr.lnr-construction
                | Gymnesium
              p
                | Usage of the Internet is becoming more common due to rapid advancement of technology and power.
          .col-lg-4.col-md-6
            .facilities_item
              h4.sec_h4
                i.lnr.lnr-coffee-cup
                | Bar
              p
                | Usage of the Internet is becoming more common due to rapid advancement of technology and power.
    // ================ Facilities Area  =================
    // ================ Testimonial Area  =================
    section.testimonial_area.section_gap
      .container
        .section_title.text-center
          h2.title_color Testimonial from our Clients
          p
            | The French Revolution constituted for the conscience of the dominant aristocratic class a fall from
        .testimonial_slider.owl-carousel
          .media.testimonial_item
            img.rounded-circle(src='image/testtimonial-1.jpg', alt='')
            .media-body
              p
                | As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the
              a(href='#')
                h4.sec_h4 Fanny Spencer
              .star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star-half-o
          .media.testimonial_item
            img.rounded-circle(src='image/testtimonial-1.jpg', alt='')
            .media-body
              p
                | As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the
              a(href='#')
                h4.sec_h4 Fanny Spencer
              .star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star-half-o
          .media.testimonial_item
            img.rounded-circle(src='image/testtimonial-1.jpg', alt='')
            .media-body
              p
                | As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the
              a(href='#')
                h4.sec_h4 Fanny Spencer
              .star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star-half-o
          .media.testimonial_item
            img.rounded-circle(src='image/testtimonial-1.jpg', alt='')
            .media-body
              p
                | As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the
              a(href='#')
                h4.sec_h4 Fanny Spencer
              .star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star
                a(href='#')
                  i.fa.fa-star-half-o
    // ================ Testimonial Area  =================
    