extends layout

block content
    // ================Breadcrumb Area =================
    section.breadcrumb_area
      .overlay.bg-parallax(data-stellar-ratio='0.8', data-stellar-vertical-offset='0', data-background='')
      .container
        .page-cover.text-center
          h2.page-cover-tittle Accomodation
          ol.breadcrumb
            li
              a(href='index.html') Home
            li.active Accomodation
    // ================Breadcrumb Area =================
    // ================ Accomodation Area  =================
    section.accomodation_area.section_gap
      .container
        .section_title.text-center
          h2.title_color Special Accomodation
          p
            | We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,
        .row.mb_30
          .col-lg-3.col-sm-6
            .accomodation_item.text-center
              .hotel_img
                img(src='image/room1.jpg', alt='')
                a.btn.theme_btn.button_hover(href='#') Book Now
              a(href='#')
                h4.sec_h4 Double Deluxe Room
              h5
                | $250
                small /night
          .col-lg-3.col-sm-6
            .accomodation_item.text-center
              .hotel_img
                img(src='image/room2.jpg', alt='')
                a.btn.theme_btn.button_hover(href='#') Book Now
              a(href='#')
                h4.sec_h4 Single Deluxe Room
              h5
                | $200
                small /night
          .col-lg-3.col-sm-6
            .accomodation_item.text-center
              .hotel_img
                img(src='image/room3.jpg', alt='')
                a.btn.theme_btn.button_hover(href='#') Book Now
              a(href='#')
                h4.sec_h4 Honeymoon Suit
              h5
                | $750
                small /night
          .col-lg-3.col-sm-6
            .accomodation_item.text-center
              .hotel_img
                img(src='image/room4.jpg', alt='')
                a.btn.theme_btn.button_hover(href='#') Book Now
              a(href='#')
                h4.sec_h4 Economy Double
              h5
                | $200
                small /night
    // ================ Accomodation Area  =================
    // ================Booking Tabel Area =================
    section.hotel_booking_area
      .container
        .row.hotel_booking_table
          .col-md-3
            h2
              | Book
              br
              |  Your Room
          .col-md-9
            include partials/reservationForm
    // ================Booking Tabel Area  =================
    // ================ Accomodation Area  =================
    section.accomodation_area.section_gap
      .container
        .section_title.text-center
          h2.title_color Normal Accomodation
          p
            | We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,
        .row.accomodation_two
          .col-lg-3.col-sm-6
            .accomodation_item.text-center
              .hotel_img
                img(src='image/room1.jpg', alt='')
                a.btn.theme_btn.button_hover(href='#') Book Now
              a(href='#')
                h4.sec_h4 Double Deluxe Room
              h5
                | $250
                small /night
          .col-lg-3.col-sm-6
            .accomodation_item.text-center
              .hotel_img
                img(src='image/room2.jpg', alt='')
                a.btn.theme_btn.button_hover(href='#') Book Now
              a(href='#')
                h4.sec_h4 Single Deluxe Room
              h5
                | $200
                small /night
          .col-lg-3.col-sm-6
            .accomodation_item.text-center
              .hotel_img
                img(src='image/room3.jpg', alt='')
                a.btn.theme_btn.button_hover(href='#') Book Now
              a(href='#')
                h4.sec_h4 Honeymoon Suit
              h5
                | $750
                small /night
          .col-lg-3.col-sm-6
            .accomodation_item.text-center
              .hotel_img
                img(src='image/room4.jpg', alt='')
                a.btn.theme_btn.button_hover(href='#') Book Now
              a(href='#')
                h4.sec_h4 Economy Double
              h5
                | $200
                small /night
          .col-lg-3.col-sm-6
            .accomodation_item.text-center
              .hotel_img
                img(src='image/room1.jpg', alt='')
                a.btn.theme_btn.button_hover(href='#') Book Now
              a(href='#')
                h4.sec_h4 Double Deluxe Room
              h5
                | $250
                small /night
          .col-lg-3.col-sm-6
            .accomodation_item.text-center
              .hotel_img
                img(src='image/room2.jpg', alt='')
                a.btn.theme_btn.button_hover(href='#') Book Now
              a(href='#')
                h4.sec_h4 Single Deluxe Room
              h5
                | $200
                small /night
          .col-lg-3.col-sm-6
            .accomodation_item.text-center
              .hotel_img
                img(src='image/room3.jpg', alt='')
                a.btn.theme_btn.button_hover(href='#') Book Now
              a(href='#')
                h4.sec_h4 Honeymoon Suit
              h5
                | $750
                small /night
          .col-lg-3.col-sm-6
            .accomodation_item.text-center
              .hotel_img
                img(src='image/room4.jpg', alt='')
                a.btn.theme_btn.button_hover(href='#') Book Now
              a(href='#')
                h4.sec_h4 Economy Double
              h5
                | $200
                small /night
    // ================ Accomodation Area  =================
  
