extends layout
block content
    // ================Breadcrumb Area =================
    section.breadcrumb_area.blog_banner_two
      .overlay.bg-parallax(data-stellar-ratio='0.8', data-stellar-vertical-offset='0', data-background='')
      .container
        .page-cover.text-center
          h2.page-cover-tittle.f_48 Blog Details page
          ol.breadcrumb
            li
              a(href='index.html') Home
            li
              a(href='blog.html') Blog
            li.active Blog Details
    // ================Breadcrumb Area =================
    // ================Blog Area =================
    section.blog_area.single-post-area
      .container
        .row
          .col-lg-8.posts-list
            .single-post.row
              .col-lg-12
                .feature-img
                  img.img-fluid(src='image/blog/feature-img1.jpg', alt='')
              .col-lg-3.col-md-3
                .blog_info.text-right
                  .post_tag
                    a(href='#') Food,
                    a(href='#') Technology,
                    a(href='#') Politics,
                    a(href='#') Lifestyle
                  ul.blog_meta.list_style
                    li
                      a(href='#')
                        | Mark wiens
                        i.lnr.lnr-user
                    li
                      a(href='#')
                        | 12 Dec, 2017
                        i.lnr.lnr-calendar-full
                    li
                      a(href='#')
                        | 1.2M Views
                        i.lnr.lnr-eye
                    li
                      a(href='#')
                        | 06 Comments
                        i.lnr.lnr-bubble
                  ul.social-links
                    li
                      a(href='#')
                        i.fa.fa-facebook
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    li
                      a(href='#')
                        i.fa.fa-github
                    li
                      a(href='#')
                        i.fa.fa-behance
              .col-lg-9.col-md-9.blog_details
                h2 Astronomy Binoculars A Great Alternative
                p.excert
                  | MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.
                p
                  | Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually sit through a self-imposed
                p
                  | Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually sit through a self-imposed
              .col-lg-12
                .quotes
                  | MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training.
                .row
                  .col-6
                    img.img-fluid(src='image/blog/post-img1.jpg', alt='')
                  .col-6
                    img.img-fluid(src='image/blog/post-img2.jpg', alt='')
                  .col-lg-12.mt-25
                    p
                      | MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower.
                    p
                      | MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower.
            .navigation-area
              .row
                .col-lg-6.col-md-6.col-12.nav-left.flex-row.d-flex.justify-content-start.align-items-center
                  .thumb
                    a(href='#')
                      img.img-fluid(src='image/blog/prev.jpg', alt='')
                  .arrow
                    a(href='#')
                      span.lnr.text-white.lnr-arrow-left
                  .detials
                    p Prev Post
                    a(href='#')
                      h4 Space The Final Frontier
                .col-lg-6.col-md-6.col-12.nav-right.flex-row.d-flex.justify-content-end.align-items-center
                  .detials
                    p Next Post
                    a(href='#')
                      h4 Telescopes 101
                  .arrow
                    a(href='#')
                      span.lnr.text-white.lnr-arrow-right
                  .thumb
                    a(href='#')
                      img.img-fluid(src='image/blog/next.jpg', alt='')
            .comments-area
              h4 05 Comments
              .comment-list
                .single-comment.justify-content-between.d-flex
                  .user.justify-content-between.d-flex
                    .thumb
                      img(src='image/blog/c1.jpg', alt='')
                    .desc
                      h5
                        a(href='#') Emilly Blunt
                      p.date December 4, 2017 at 3:12 pm 
                      p.comment
                        | Never say goodbye till the end comes!
                  .reply-btn
                    a.btn-reply.text-uppercase(href='') reply
              .comment-list.left-padding
                .single-comment.justify-content-between.d-flex
                  .user.justify-content-between.d-flex
                    .thumb
                      img(src='image/blog/c2.jpg', alt='')
                    .desc
                      h5
                        a(href='#') Elsie Cunningham
                      p.date December 4, 2017 at 3:12 pm 
                      p.comment
                        | Never say goodbye till the end comes!
                  .reply-btn
                    a.btn-reply.text-uppercase(href='') reply
              .comment-list.left-padding
                .single-comment.justify-content-between.d-flex
                  .user.justify-content-between.d-flex
                    .thumb
                      img(src='image/blog/c3.jpg', alt='')
                    .desc
                      h5
                        a(href='#') Annie Stephens
                      p.date December 4, 2017 at 3:12 pm 
                      p.comment
                        | Never say goodbye till the end comes!
                  .reply-btn
                    a.btn-reply.text-uppercase(href='') reply
              .comment-list
                .single-comment.justify-content-between.d-flex
                  .user.justify-content-between.d-flex
                    .thumb
                      img(src='image/blog/c4.jpg', alt='')
                    .desc
                      h5
                        a(href='#') Maria Luna
                      p.date December 4, 2017 at 3:12 pm 
                      p.comment
                        | Never say goodbye till the end comes!
                  .reply-btn
                    a.btn-reply.text-uppercase(href='') reply
              .comment-list
                .single-comment.justify-content-between.d-flex
                  .user.justify-content-between.d-flex
                    .thumb
                      img(src='image/blog/c5.jpg', alt='')
                    .desc
                      h5
                        a(href='#') Ina Hayes
                      p.date December 4, 2017 at 3:12 pm 
                      p.comment
                        | Never say goodbye till the end comes!
                  .reply-btn
                    a.btn-reply.text-uppercase(href='') reply
            .comment-form
              h4 Leave a Reply
              form
                .form-group.form-inline
                  .form-group.col-lg-6.col-md-6.name
                    input#name.form-control(type='text', placeholder='Enter Name', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter Name'")
                  .form-group.col-lg-6.col-md-6.email
                    input#email.form-control(type='email', placeholder='Enter email address', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter email address'")
                .form-group
                  input#subject.form-control(type='text', placeholder='Subject', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Subject'")
                .form-group
                  textarea.form-control.mb-10(rows='5', name='message', placeholder='Messege', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Messege'", required='')
                a.primary-btn.button_hover(href='#') Post Comment
          .col-lg-4
            .blog_right_sidebar
              aside.single_sidebar_widget.search_widget
                .input-group
                  input.form-control(type='text', placeholder='Search Posts')
                  span.input-group-btn
                    button.btn.btn-default(type='button')
                      i.lnr.lnr-magnifier
                // /input-group
                .br
              aside.single_sidebar_widget.author_widget
                img.author_img.rounded-circle(src='image/blog/author.png', alt='')
                h4 Charlie Barber
                p Senior blog writer
                .social_icon
                  a(href='#')
                    i.fa.fa-facebook
                  a(href='#')
                    i.fa.fa-twitter
                  a(href='#')
                    i.fa.fa-github
                  a(href='#')
                    i.fa.fa-behance
                p
                  | Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.
                .br
              aside.single_sidebar_widget.popular_post_widget
                h3.widget_title Popular Posts
                .media.post_item
                  img(src='image/blog/post1.jpg', alt='post')
                  .media-body
                    a(href='blog-details.html')
                      h3 Space The Final Frontier
                    p 02 Hours ago
                .media.post_item
                  img(src='image/blog/post2.jpg', alt='post')
                  .media-body
                    a(href='blog-details.html')
                      h3 The Amazing Hubble
                    p 02 Hours ago
                .media.post_item
                  img(src='image/blog/post3.jpg', alt='post')
                  .media-body
                    a(href='blog-details.html')
                      h3 Astronomy Or Astrology
                    p 03 Hours ago
                .media.post_item
                  img(src='image/blog/post4.jpg', alt='post')
                  .media-body
                    a(href='blog-details.html')
                      h3 Asteroids telescope
                    p 01 Hours ago
                .br
              aside.single_sidebar_widget.ads_widget
                a(href='#')
                  img.img-fluid(src='image/blog/add.jpg', alt='')
                .br
              aside.single_sidebar_widget.post_category_widget
                h4.widget_title Post Catgories
                ul.list_style.cat-list
                  li
                    a.d-flex.justify-content-between(href='#')
                      p Technology
                      p 37
                  li
                    a.d-flex.justify-content-between(href='#')
                      p Lifestyle
                      p 24
                  li
                    a.d-flex.justify-content-between(href='#')
                      p Fashion
                      p 59
                  li
                    a.d-flex.justify-content-between(href='#')
                      p Art
                      p 29
                  li
                    a.d-flex.justify-content-between(href='#')
                      p Food
                      p 15
                  li
                    a.d-flex.justify-content-between(href='#')
                      p Architecture
                      p 09
                  li
                    a.d-flex.justify-content-between(href='#')
                      p Adventure
                      p 44
                .br
              aside.single-sidebar-widget.newsletter_widget
                h4.widget_title Newsletter
                p
                  | Here, I focus on a range of items and features that we use in life without
                  | giving them a second thought.
                .form-group.d-flex.flex-row
                  .input-group
                    .input-group-prepend
                      .input-group-text
                        i.fa.fa-envelope(aria-hidden='true')
                    input#inlineFormInputGroup.form-control(type='text', placeholder='Enter email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter email'")
                  a.bbtns(href='#') Subcribe
                p.text-bottom You can unsubscribe at any time
                .br
              aside.single-sidebar-widget.tag_cloud_widget
                h4.widget_title Tag Clouds
                ul.list_style
                  li
                    a(href='#') Technology
                  li
                    a(href='#') Fashion
                  li
                    a(href='#') Architecture
                  li
                    a(href='#') Fashion
                  li
                    a(href='#') Food
                  li
                    a(href='#') Technology
                  li
                    a(href='#') Lifestyle
                  li
                    a(href='#') Art
                  li
                    a(href='#') Adventure
                  li
                    a(href='#') Food
                  li
                    a(href='#') Lifestyle
                  li
                    a(href='#') Adventure
    // ================Blog Area =================
    