extends layout
block content
    // ================Breadcrumb Area =================
    section.breadcrumb_area
      .overlay.bg-parallax(data-stellar-ratio='0.8', data-stellar-vertical-offset='0', data-background='')
      .container
        .page-cover.text-center
          h2.page-cover-tittle Contact Us
          ol.breadcrumb
            li
              a(href='index.html') Home
            li.active Contact Us
    // ================Breadcrumb Area =================
    // ================Contact Area =================
    section.contact_area.section_gap
      .container
        #mapBox.mapBox(data-lat='40.701083', data-lon='-74.1522848', data-zoom='13', data-info='PO Box CT16122 Collins Street West, Victoria 8007, Australia.', data-mlat='40.701083', data-mlon='-74.1522848')
        .row
          .col-md-3
            .contact_info
              .info_item
                i.lnr.lnr-home
                h6 California, United States
                p Santa monica bullevard
              .info_item
                i.lnr.lnr-phone-handset
                h6
                  a(href='#') 00 (440) 9865 562
                p Mon to Fri 9am to 6 pm
              .info_item
                i.lnr.lnr-envelope
                h6
                  a(href='#') support@colorlib.com
                p Send us your query anytime!
          .col-md-9
            form#contactForm.row.contact_form(action='contact_process.php', method='post', novalidate='novalidate')
              .col-md-6
                .form-group
                  input#name.form-control(type='text', name='name', placeholder='Enter your name')
                .form-group
                  input#email.form-control(type='email', name='email', placeholder='Enter email address')
                .form-group
                  input#subject.form-control(type='text', name='subject', placeholder='Enter Subject')
              .col-md-6
                .form-group
                  textarea#message.form-control(name='message', rows='1', placeholder='Enter Message')
              .col-md-12.text-right
                button.btn.theme_btn.button_hover(type='submit', value='submit') Send Message
    // ================Contact Area =================
   