extends layout

block content
    // ================Breadcrumb Area =================
    section.breadcrumb_area
      .overlay.bg-parallax(data-stellar-ratio='0.8', data-stellar-vertical-offset='0', data-background='')
      .container
        .page-cover.text-center
          h2.page-cover-tittle Gallery
          ol.breadcrumb
            li
              a(href='index.html') Home
            li.active Gallery
    // ================Breadcrumb Area =================
    // ================Breadcrumb Area =================
    section.gallery_area.section_gap
      .container
        .section_title.text-center
          h2.title_color Royal Hotel Gallery
          p Who are in extremely love with eco friendly system.
        #gallery.row.imageGallery1
          .col-md-4.gallery_item
            .gallery_img
              img(src='image/gallery/01.jpg', alt='')
              .hover
                a.light(href='image/gallery/01.jpg')
                  i.fa.fa-expand
          .col-md-4.gallery_item
            .gallery_img
              img(src='image/gallery/02.jpg', alt='')
              .hover
                a.light(href='image/gallery/02.jpg')
                  i.fa.fa-expand
          .col-md-4.gallery_item
            .gallery_img
              img(src='image/gallery/03.jpg', alt='')
              .hover
                a.light(href='image/gallery/03.jpg')
                  i.fa.fa-expand
          .col-md-4.gallery_item
            .gallery_img
              img(src='image/gallery/04.jpg', alt='')
              .hover
                a.light(href='image/gallery/04.jpg')
                  i.fa.fa-expand
          .col-md-4.gallery_item
            .gallery_img
              img(src='image/gallery/06.jpg', alt='')
              .hover
                a.light(href='image/gallery/05.jpg')
                  i.fa.fa-expand
          .col-md-4.gallery_item
            .gallery_img
              img(src='image/gallery/05.jpg', alt='')
              .hover
                a.light(href='image/gallery/06.jpg')
                  i.fa.fa-expand
          .col-md-4.gallery_item
            .gallery_img
              img(src='image/gallery/01-1.jpg', alt='')
              .hover
                a.light(href='image/gallery/01-1.jpg')
                  i.fa.fa-expand
          .col-md-4.gallery_item
            .gallery_img
              img(src='image/gallery/02-1.jpg', alt='')
              .hover
                a.light(href='image/gallery/02-1.jpg')
                  i.fa.fa-expand
          .col-md-4.gallery_item
            .gallery_img
              img(src='image/gallery/03-1.jpg', alt='')
              .hover
                a.light(href='image/gallery/03-1.jpg')
                  i.fa.fa-expand
    